@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
<style type="text/css">
.div-height{position:absolute;left:35%;
  top:20%;
  width: 30%;
  height: 60%;
  
}
</style>
</head>

<body>

<div class="div-height">
<form  class="form-group"   method="post"  style="border: 2px solid #ccc; border-radius:8px; " >
<fieldset >
<legend>
<h1 align="center" > <small>企业云平台登陆</small></h1>
</legend>
<div  style="margin:20px" >
<div class="input-group input-group-lg">
  <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
  <input type="text"  class="form-control" placeholder="输入企业ID">
</div>
</div>
<div  style="margin:20px">
<div class="input-group input-group-lg" >
  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
  <input type="text" class="form-control" placeholder="输入用户名">
</div>
</div>
<div  style="margin:20px">
<div class="input-group input-group-lg" >
  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
  <input type="password" class="form-control" placeholder="输入密码" />
</div>
</div>

<div  style="margin:20px">
<div  class="form-action">
<div align="center">
<div class="btn-toolbar ">
<button type="submit" class="btn btn-primary">登  陆</button> 
<button type="button"   class="btn btn-primary">注  册</button> 
</div>
</div>
</div>
</div>
</fieldset>
</form>
</div>
</body>
</html>
